{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
{% trans 'Режиссёр' %}: {{ director.name }}
{% endblock %}

{% block content %}
<section class="section details">
    <!-- details background -->
    <div class="details__bg" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
    <!-- end details background -->

    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">{{ director.name }}</h1>
            </div>
            <!-- end title -->

            <!-- content -->
            <div class="col-10">
                <div class="card card--details card--series">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                            <div class="card__cover">
                                <img src="{{ director.image.url }}" alt="">
                            </div>
                        </div>
                        <!-- end card cover -->

                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                            <div class="card__content">
                                <ul class="card__meta">
                                    <li><span>{% trans 'Возраст' %}:</span> {{ director.age }}</li>
                                    <li><span>{% trans 'Биография' %}:</span></li>

                                </ul>

                                <div class="card__description card__description--details">
                                    {{ director.description|safe }}
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
    <!-- end details content -->
</section>


<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">{% trans 'Фильмы снятые режиссёром' %}</h2>
                    <!-- end content title -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row">
                    <!-- card -->
                    {% for movie in object_list %}
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="{{ movie.poster.url }}">
                                <a href="{{ movie.get_absolute_url }}" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                </h3>
                                <span class="card__category">
                                    {% for item in movie.genres.all|slice:":3" %}
                                        <a href="{{ item.get_absolute_url }}">{{ item.name|title }}</a>
                                    {% endfor %}
									</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{ movie.kinopoisk_rating }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    {% endfor%}
                </div>
            </div>
            {% include 'inc/_paginator.html' %}
        </div>
        <!-- end content tabs -->
    </div>

</section>
{% endblock %}