{% extends 'base.html' %}
{% load i18n static %}
{% block title %}
{% trans 'Регистрация' %}
{% endblock %}

{% block content %}

<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- registration form -->
                    <form class="sign__form" method="post">
                        {% csrf_token %}
                        <a href="{% url 'home' %}" class="sign__logo">
                            <img src="{% static 'img/logo.svg' %}" alt="">
                        </a>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <strong style="color: #f8f8f2">{{ error|escape }}</strong>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <strong style="color: #f8f8f2">{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}

                        <div class="sign__group">
                            {{ form.email }}
                        </div>

                        <div class="sign__group">
                            {{ form.username }}

                        </div>

                        <div class="sign__group">
                            {{ form.password1 }}

                        </div>
                        <div class="sign__group">
                            {{ form.password2 }}
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">I agree to the <a href="#"> Privacy Policy</a></label>
                        </div>

                        <button class="sign__btn" type="submit">Регистрация</button>

                        <span class="sign__text">{% trans 'Уже зарегестрированы?' %} <a href="{% url 'login' %}">{% trans 'Войти!' %}</a></span>
                    </form>
                    <!-- registration form -->

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}