{% extends 'base.html' %}
{% load i18n static %}
{% block title %}
{% trans 'Сброс пароля' %}
{% endblock %}

{% block content %}
<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign__content">
                    <form class="sign__form">
					    <h1 class="password_reset-values">{% trans 'Ваш пароль был успешно изменен' %}</h1>
                        <button class="sign__btn" type="submit"><a href="{% url 'login' %}" style="color: #f8f8f2">{% trans 'Войти' %}</a></button>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}