{% extends 'base.html' %}
{% load i18n static %}
{% block title %}
{% trans 'Сброс пароля' %}
{% endblock %}

{% block content %}
<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<form class="sign__form" method="post">
                            {% csrf_token %}
							<a href="{% url 'home' %}" class="sign__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>

							  {% if form.errors %}
								{% for field in form %}
									{% for error in field.errors %}
										<strong style="color: #f8f8f2">{{ error|escape }}</strong>
									{% endfor %}
								{% endfor %}
								{% for error in form.non_field_errors %}
										<strong style="color: #f8f8f2">{{ error|escape }}</strong>
								{% endfor %}
								{% endif %}
							<div class="sign__group">
								{{ form }}
							</div>

							<button class="sign__btn" type="submit">{% trans 'Сбросить пароль' %}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}