{% load i18n static %}
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="{% url 'home' %}" class="header__logo">
                            <img src="{% static 'img/logo.svg' %}" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'home' %}" role="button"
                                   aria-haspopup="true" aria-expanded="false">{% trans 'Home' %}</a>
                            </li>

                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'catalog' 1 %}" role="button" aria-haspopup="true"
                                   aria-expanded="false">{% trans 'Каталог' %}</a>
                            </li>
                            <!-- end dropdown -->


                            <li class="header__nav-item">
                                <a href="{% url 'help_page' %}" class="header__nav-link">{% trans 'Помощь' %}</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="{% url 'about' %}" class="header__nav-link">{% trans 'О нас' %}</a>
                            </li>
                            <!-- dropdown -->
                            <li class="dropdown header__nav-item">
                                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#"
                                   role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                    <li class="change_lang">{% trans 'Изменить язык сайта' %}</li>
                                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                        <input name="next" type="hidden" value="{{ redirect_to }}">
                                        <select name="language" class="choise_lang">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}

                                            {% for language in languages %}
                                               <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                        selected{% endif %}>
                                                    {{ language.name_local }} ({{ language.code }})
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" value="{% trans 'Изменить ' %}" class="change_submt">
                                    </form>
                                </ul>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                        <span>{% trans 'Выйти' %}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                        <span>{% trans 'Войти' %}</span>
                                </a>
                            {% endif %}
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="{% url 'search' %}" class="header__search" method="get">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="search" placeholder="Введите название ..." name="q" >
                        <button type="submit">{% trans 'Поиск' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
